/* global style */
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #3a3a3a;
}
button {
  color: white;
  background-color: #e02c6d;
  border: 0;
  border-radius: 41px;
  padding: 10px 25px;
}
button .fa-solid {
  margin-left: 5px;
  color: white;
}

/* Nav Menu */
.container {
  width: 1200px;
  margin: auto;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0;
}
.nav-tittle {
  font-weight: 700;
  font-size: 24px;
}
.nav-items {
  font-weight: 600;
  font-size: 16px;
}
.nav-items a {
  text-decoration: none;
  margin-right: 35px;
}
/* <!-- Hero-Banner --> */
.banner {
  display: flex;
  margin-bottom: 60px;
}
.banner-tittle {
  font-weight: 700;
  font-size: 52px;
}
.banner-description {
  font-weight: 600;
  font-size: 16px;
}
.banner-image {
  background-image: url(/images/Circle\ design.svg);
}
/* <!-- Logo Secton --> */
.logo-images {
  margin: 100px 0;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border: 1px solid;
  border-image: linear-gradient(
    to right,
    transparent,
    rgba(128, 128, 128, 0.438),
    transparent
  );
  border-left: 0;
  border-right: 0;
  border-image-slice: 1;
}
